/* Container form */
.register-form {
  width: 100%;
}

/* Input group */
.register-form .input-group {
  margin-bottom: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
}

/* Icon trong input */
.register-form .input-group-text {
  background-color: #00aaff; /* xanh biển hợp layout */
  color: white;
  border: none;
  width: 3rem;
  justify-content: center;
  font-size: 1.2rem;
}

/* Input text */
.register-form .form-control {
  border: none;
}

/* Nút đăng ký */
.register-form .btn-register {
  width: 100%;
  margin-top: 1rem;
  padding: 0.6rem 1rem;
  border-radius: 50px;
  border: none;
  background: linear-gradient(
    135deg,
    #00c0ff,
    #750cb6
  ); /* gradient xanh biển */
  color: white;
  font-weight: 500;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

.register-form .btn-register:hover {
  background: linear-gradient(135deg, #0099ff, #71797e);
}
